.account {
	position: relative;
	border-radius: rem(5);
	transition: all 0.5s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background: $color-hover;
		}
	}
}

.main {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: rem(15);
	padding: rem(12);
}

.info {
	display: grid;
	align-items: center;
	gap: rem(3);
	padding: 0 rem(50) 0 0;
}

.amount {
	font-size: rem(24);
	font-weight: 500;
}

.name {
	font-size: rem(14);
	color: $color-dim-text;
}

.delete {
	position: absolute;
	top: 50%;
	translate: 0 -50%;
	right: rem(15);
	z-index: 5;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
	@media (any-hover: hover) {
		.account:hover & {
			opacity: 1;
			visibility: visible;
		}
	}
}
