.operation {
	position: relative;
	border-radius: rem(5);
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background: $color-hover;
		}
	}
}

.main {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: rem(30);
	padding: rem(10);
	color: $color-text;
}

.info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: rem(3) rem(10);
	padding: 0px rem(50) 0px 0px;
	color: $color-text;
}

.view {
	position: relative;
	max-width: rem(700);
	display: grid;
	gap: rem(20);

	dl {
		display: grid;
		gap: rem(15);
		div {
			display: flex;
			gap: rem(10);
			dt {
				font-weight: 700;
			}
		}
	}
}

.amount {
	font-size: rem(24);
	font-weight: 500;
	transition: all 0.3s ease 0s;
	color: $color-text;

	&:global(.income) {
		color: $color-success;
		&::before {
			content: '+';
		}
	}

	&:global(.expense) {
		color: $color-error;
		&::before {
			content: '-';
		}
	}
}

.datetime {
	font-size: rem(14);
	color: $color-dim-text;
}

.icon {
	width: rem(40);
	height: rem(40);
	color: $color-icon;
}

.abort-icon {
	width: rem(40);
	height: rem(40);
	color: $color-error;
}

.actions {
	position: absolute;
	top: rem(20);
	right: rem(20);
	display: flex;
	align-items: center;
}

.edit-icon {
	color: $color-success;
	height: rem(24);
	width: rem(24);
}
