.header {
	background: $color-bg-header;
	border-bottom: rem(1) solid $color-border;
	box-shadow: 0 0 rem(10) rem(4) $color-shadow;
	color: $color-header;
}

.body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: rem(30);
}
