.wrapper {
	cursor: pointer;
	display: inline-flex;
}

.input {
	display: none;
}

.label {
	position: relative;
	display: inline-flex;
	padding: 0px 0px 0px rem(25);
	&::before {
		content: '';
		position: absolute;
		top: rem(2);
		left: 0;
		width: rem(18);
		height: rem(18);
		border-radius: 50%;
		background: $color-bg;
		border: rem(1) solid $color-border;
	}
	&::after {
		content: '';
		position: absolute;
		top: rem(5);
		left: rem(3);
		width: rem(12);
		height: rem(12);
		border-radius: 50%;
		background: $color-icon;
		border: rem(1) solid $color-border;
		transition: all 0.3s ease 0s;
		scale: 0;
	}

	.input:checked + & {
		&::after {
			scale: 1;
		}
	}
}
