$color-background: hsl(187, 100%, 27%);
$color-footer-background: $color-background;
$color-header-background: $color-background;
$color-logo: hsl(0, 0%, 100%);
$color-body-background: #fff;
$color-footer: hsl(0, 0%, 73.73%);
$color-header: hsl(0, 0%, 100%);
$color-border: #eeeeee;
$color-shadow: #ebebeb;
