$green: hsl(187 100% 27%);
$green-light: hsl(187 100% 43.5%);
$green-lighter: hsl(187 100% 60%);
$green-very-light: hsl(187 100% 76.5%);
$green-white: hsl(187 100% 93%);

$red: hsl(0 78% 58%);
$red-light: hsl(0 78% 66.75%);
$red-lighter: hsl(0 78% 75.5%);
$red-very-light: hsl(0 78% 82.25%);
$red-white: hsl(0 78% 93%);

$gray: hsl(0 0% 39%);
$gray-light: hsl(0 0% 52.5%);
$gray-lighter: hsl(0 0% 66%);
$gray-very-light: hsl(0 0% 79.55%);
$gray-white: hsl(0 0% 93%);

$black: hsl(0 0% 0%);
$white: hsl(0 0% 100%);

$color-bg: $white;
$color-text: $black;
$color-logo: $white;

$color-bg-footer: $green;
$color-bg-header: $green;

$color-footer: $gray-lighter;
$color-header: $white;
$color-border: $gray-white;
$color-shadow: $gray-white;
$color-form-label: $gray-light;

$color-error: $red;
$color-warning: $red-very-light;
$color-success: $green-light;

$color-focus: $green-light;
$color-button: $green;
$color-button-disable: $gray-lighter;
$color-button-text: $white;
