@use 'sass:math';
@use './variables' as *;

@function prc($pxCurrent: 0, $pxDefault: 1) {
	$result: math.div($pxCurrent, $pxDefault) * 100%;
	@return $result;
}

@function px($px) {
	$result: $px + px;
	@return $result;
}

@function rem($px, $font-size: $font-size-base) {
	$result: math.div($px, $font-size) + rem;
	@return $result;
}

@function em($pxCurrent, $pxDefault: $font-size-base) {
	$result: math.div($pxCurrent, $pxDefault) + em;
	@return $result;
}

@mixin sentence-case() {
	text-transform: lowercase;

	&:first-letter {
		text-transform: uppercase;
	}
}
