@use './functions' as *;
@use './variables' as *;
@use './mixins' as *;
* {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
	min-width: px($minWidth);
}
body {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	@include primeFont;
	line-height: 1;
}
input,
button,
textarea {
	@include primeFont;
}
input::-ms-clear {
	display: none;
}
button {
	background: transparent;
	cursor: pointer;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
