.wraper {
}

.label {
	color: $color-dim-text;
	font-weight: 400;
	font-size: rem(14);
	display: inline-block;
	margin: 0 0 rem(5) 0px;
}

.input {
	display: block;
	width: 100%;
	font-size: rem(16);
	line-height: prc(20, 16);
	padding: rem(15) rem(12);
	min-height: rem(100);
	color: $color-text;
	background: $color-bg;
	border: rem(1) solid $color-border;
	border-radius: rem(4);
	transition: border 0.3s ease 0s;
	resize: vertical;
	&:focus {
		border: rem(1) solid $color-focus;
	}
	&.error {
		border: rem(1) solid $color-error;
	}
	&.success {
		border: rem(1) solid $color-success;
	}
}
