.footer {
	background: $color-bg-footer;
	color: $color-footer;
	border-top: 1px solid $color-border;
	box-shadow: px(0) px(0) px(10) px(4) $color-shadow;
	padding: px(30) px(0);
}

.container {
	display: flex;
	justify-content: space-between;
}
