.footer {
	background: $color-bg-footer;
	color: $color-footer;
	border-top: 1px solid $color-border;
	box-shadow: 0 0 rem(10) rem(4) $color-shadow;
	padding: rem(30) rem(0);
}

.container {
	display: flex;
	justify-content: space-between;
}
