.main {
	display: grid;
	justify-items: start;
	gap: rem(20);
	margin: px(0) px(0) rem(50) 0px;
}

.button {
	display: inline-flex;
	align-items: center;
	font-size: rem(18);
	transition: all 0.3s ease 0s;
	font-weight: 500;
	@media (any-hover: hover) {
		&:hover {
			color: $color-button;
			.icon {
				stroke: $color-button;
			}
		}
	}
}

.icon {
	width: rem(20);
	height: rem(20);
	stroke: $color-icon;
	transition: all 0.3s ease 0s;
}
