.label {
	color: $color-form-label;
	font-weight: px(400);
	font-size: rem(14);
	display: inline-block;
	margin: px(0) px(0) rem(5) px(0);
}

.input {
	display: block;
	width: 100%;
	font-size: rem($font-size-base);
	line-height: prc(1.25);
	padding: rem(10) rem(12);
	height: rem(38);
	color: $color-text;
	background: $color-bg;
	border: rem(1) solid $color-border;
	border-radius: rem(5);
	transition: border 0.4s ease 0s;
	&:focus {
		border: rem(1) solid $color-focus;
	}
	&.error {
		border: rem(1) solid $color-error;
	}
	&.success {
		border: rem(1) solid $color-success;
	}
}

.error {
	color: $color-error;
	font-style: italic;
	font-size: rem(12);
	&::first-letter {
		text-transform: uppercase;
	}
}
